#left {
  float: left;
  width: 200px;
  margin-right: 20px;
}

#image1, #image2, #image3 {
  width: 180px;
  margin: 30px 5px 0;
  border: medium solid #727272;
}

canvas {
  overflow: hidden;
}

#result {
  margin: 20px;
}